name: Frontend Docker CI/CD

on:
  push:
    branches: ["dev", "main"]

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/huequitas-frontend:latest
          # AQUÍ QUEMAMOS LA IP DE AWS PARA QUE VITE SEPA A DONDE APUNTAR
          # Cambia 100.53.153.178 por tu IP Pública de AWS si cambia
          build-args: |
            VITE_API_URL=http://100.53.153.178:8000
            VITE_CHAT_URL=http://100.53.153.178:3003

      - name: Deploy Frontend to AWS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Descargar la nueva imagen del frontend
            docker compose pull frontend

            # Reiniciar solo el contenedor frontend sin tocar el backend
            docker compose up -d --no-deps frontend

            # Limpiar basura
            docker image prune -f
